@page "/RoleManagement/Roles"


<h3>@PageTitle</h3>



<button class="btn btn-info me-1" @onclick="(() => CreateNewRole())">Create A New Role</button>


@if (_roleList == null || _roleList?.Count() == 0)
{
    <h4>System has no roles configured. Please add some roles.</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Role
                </th>
                <th>
                    Description
                </th>
                <th>
                    Assigned Permissions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in _roleList)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        @role.Description
                    </td>
                    <td>
                        
                        @foreach(var permissionName in role.PermissionsInRole)
                        {
                            <li>@permissionName</li>
                        }
                    </td>
                    <td>
                           <button class="btn btn-info me-1" @onclick="(() => EditRole(role))">Edit</button>
                           <button class="btn btn-info me-1" @onclick="(() => Delete(role))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>   
    
}
